    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Your Cart is Empty!</h4>
      <p>Your cart is currently empty. Browse our categories to find something you like!</p>
      <%= link_to 'Start Shopping', root_path, class: 'btn btn-primary mt-3' %>
    </div>